<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link href='https://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>
</head>
<body>

<h1>Sign up!</h1>

<div>

  <div id="userFormArea">
      <%= form_for @user do |f|%>

    <div class="inputBox">
      First name: <br />
      <%= f.text_field :f_name %><br />
    </div>

    <div class="inputBox">
      Last last: <br />
      <%= f.text_field :l_name %><br />
    </div>

    <div class="inputBox">
      E-mail: <br />
      <%= f.text_field :email %><br />
    </div>

    <div class="inputBox">
      Password: <br />
      <%= f.password_field :password %><br />
    </div>

    <div class="inputBox">
      Confirm Password: <br />
      <%= f.password_field :password_confirmation %><br />
    </div>

    <div>

      <div class="inputBox">
        Password: <br />
        <%= f.text_field :admin %><br />
      </div>


      <%=f.submit "Sign up", :class => "button" %>
    </div>
    
      <% end %>
  </div>

</div>

</body>
</html>