<head>
</head>

<body>

  <!-- For the edit you can copy what was in the new.html.erb and just change the text heading and button text -->
  <h1> Edit a Jacket!</h1>

  <div id="editForm">
  <%= form_for @jacket do |f| %>
    Type: <br />
    <%= f.text_field :name %><br />
    <!-- Rails guide form helper says that you could use number_field ...Itll have up and down arrows and allow you to bring up numbers on mobile -->
    Price: <br />
    <%= f.text_field :price %><br />
    Quantity:<br />
    <%= f.text_field :size %><br />
    <%= f.file_field :avatar %><br />
    <!-- creates submit button -->
    <%=f.submit "Update this Jacket", :class => "button"%>
    <!-- end the loop started at form_for @beverage do -->
  <% end %>
  <br />
    <br />
  <%= link_to "Back to the jackets list", jackets_path %>
  </div>


</body>