
<head>
  <link rel="stylesheet" href="assets/jackets.css.scss">
</head>





  <h1>Our Jackets</h1>
  <hr />

  <% @jackets.each do |jacket| %>
      <div id="tile">
        <div class="picTile">
          <!--#todo - ask why when I take away the @ symbol does it not give me an error http://stackoverflow.com/questions/11149967/access-paperclip-avatar-from-other-views-resources-in-rails-->
          <%= image_tag jacket.avatar.url(:medium) %>
        </div>
        <%= jacket.name %><br /><hr />
        Price: <%= jacket.price %><br />
        Size: <%= jacket.size %><br />
        <br />
        <%= link_to 'Show | ', jacket, :class => "hover" %>
        <%= link_to 'Edit | ', edit_jacket_path(jacket) %>
        <%= link_to 'Delete ', jacket, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
  <% end %>

  <div id="newJacketButton"> <%= link_to "New Jacket", "jackets/new" %></div>
<br />
<br />
  <%#= link_to "New User", "users/new" %>
  <%#= link_to "Login", "sessions/new" %>

