<head>
</head>

<body>
	<h1> Add a jacket</h1>

<div id="newForm">
	<!--This is saying to go an look for the "@jacket" in the Jacket controller under the "new section"-->
  <%= form_for @jacket do |f| %>
      Name: <br />
      <%= f.text_field :name %><br />
      <!-- Rails guide form helper says that you could use number_field ...Itll have up and down arrows and allow you to bring up numbers on mobile -->
      Price: <br />
      <%= f.text_field :price %><br />
      Size: <br />
      <%= f.text_field :size %><br />
      <!-- creates submit button -->
      <%=f.submit "Add this jacket" %>
      <!-- end the loop started at form_for @beverage do -->
  <% end %>

</div>
    
    <%= bootstrap_form_for @jacket do |f| %>
    <%= f.text_field :name %><br />
    <%= f.text_field :price %><br />
    <%= f.text_field :size %><br />
    <%=f.submit "Add this jacket" %>
<% end %>

</body>