<head>
</head>

<body>

<div id="rightInfoBox">
  <p>Name: <%= @jacket.name %><br /></p>
  <p>Price: <%= @jacket.price %><br /></p>
  <p>Size: <%= @jacket.size %><br /></p>
  <!-- This is saying that if there is someone logged in then use their info in the following "path that they will take when buying something" -->
  <% if current_user != nil %>
  <%= link_to 'Add to cart, or buy now?', new_cart_path(user_id: current_user.id, jacket_id: @jacket.id) %><br />
  <% else %>
  <%= link_to 'Add to cart, or buy now?', new_cart_path(jacket_id: @jacket.id) %><br />
  <% end %>
  <div id="back"><%= link_to "Back to the jackets list", jackets_path %></div>
</div>

<div id="leftPicBox">
  Placeholder
</div>



</body>