<!DOCTYPE html>
<html>
<head>
    <title>Ecommerce</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>


  <link rel="stylesheet" href="assets/application.css.scss">
  <link rel="stylesheet" href="assets/jackets.css.scss">
  <link rel="stylesheet" href="assets/carts.css.scss">
  <link rel="stylesheet" href="assets/sessions.css.scss">
  <link rel="stylesheet" href="assets/users.css.scss">
  <link href='https://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width">
</head>

<body>
<!-- =================================== -->
<!--              Logo Banner            -->
<!-- =================================== -->
<div id="logoBanner">
    <div id="logo">
      <h1 id="logoText">Hank & Volley</h1>
      <!--<img src="/assets/logo.png">-->
    </div>
</div>



<!-- =================================== -->
<!--       Authentication buttons        -->
<!-- =================================== -->
<div id="nav">
  <div id="auth">
      <!-- Logout button -->
      <% if current_user != nil %>
      <div id="logOut"><%= link_to "Log out", logout_path, method: :delete, :class => "hvr-sweep-to-right" %></div>

      <% else %>
      <div id="signUp"><%= link_to "Sign up", new_user_path, :class => "hvr-sweep-to-right" %></div>
      <!--<div id="signUp"><%#= link_to "Sign up", new_user_path, method: :get %></div>-->
      <div id="logIn"><%= link_to "Log in", new_session_path, :class => "hvr-sweep-to-right" %></div>
      <% end %>

  </div>
  <div id="home">
    <%= link_to "Jackets", jackets_path, :class => "hvr-sweep-to-right" %>
  </div>
  <!--Empty div to prevent collapse of nav divs-->
  <div id="empty">
   .
  </div>

</div>


<!-- =================================== -->
<!--               Yield                 -->
<!-- =================================== -->


<div id="container">
    <%= yield %>
</div>
  <!--Find out which current i.d. is logged in-->
  <%#= session["user_id"].inspect  %>
  <%#= params.inspect %>


  
</body>

</html>
